@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #D4D9DD url("./assets/img/bg03.jpg");
    color: #474f51;
    font-family: 'Yanone Kaffeesatz';
    line-height: 1.85em;
}


/* Home */

#header .socialIcon {
    width: 80px;
    height: auto;
    position: fixed;
    bottom: 20px;
    z-index: 999;
    transition: ease-in-out .5s;
}

#header {
    position: relative;
    background: #3B4346 url("./assets/img/bg01.jpg");
    border-bottom: solid 1px #272d30;
    box-shadow: inset 0px -1px 0px 0px #51575a;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
}

#navbar {
    padding-top: 45px;
}

#navbar .row {
    width: 100%;
    justify-content: space-between;
}

#navbar .row>* {
    width: auto;
}

#navbar .navbar-collapse {
    flex-grow: unset;
}

#navbar .container .row button {
    width: 50px;
    height: 50px;
    padding: 0;
}

#navbar .container .row button:focus {
    box-shadow: none;
}

#navbar h1 {
    font-size: 44px;
    font-weight: 300;
    color: #fff;
}

#header .navbar-nav a {
    color: #c6c8c8;
    font-size: 26px;
    margin-left: 60px;
}

#header .navbar-nav a:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #c6c8c8;
}

#banner {
    border-top: solid 1px #222628;
    box-shadow: inset 0px 1px 0px 0px #3e484a;
    color: #fff;
    padding-bottom: 45px;
}

#banner .row {
    padding-top: 50px;
}

#banner .left, #banner .right {
    width: 50%;
}

#banner p {
    font-size: 2em;
    font-weight: 200;
    line-height: 1.25em;
    padding-right: 1em;
    margin: 0 0 1em 0;
}

#banner .left a {
    position: relative;
    background-color: #ed391b;
    color: #fff;
    font-size: 26px;
    line-height: 2.125em;
    font-weight: 300;
    padding: 0px 25px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: .5s;
}

#banner .left a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    transition: .5s;
}

#banner .left a:hover::before{
    left: 100%;
}

#banner .left a:active {
    transform: scale(0.9);
}

#banner .right img {
    width: 100%;
    border: solid #fff 10px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
    max-height: 380px;
}

/* Gallery */
#gallery {
    background: #353D40 url("./assets/img/bg02.jpg");
    border-bottom: solid 1px #272e31;
    padding: 45px 0 45px 0;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
    color: #a0a8ab;
}

#gallery img {
    width: 220px;
    height: 188px;
    border: solid #fff 10px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* About */

#about {
    background: #f7f7f7 url("./assets/img/bg04.png");
    border-top: solid 1px #fff;
    padding: 45px 0 45px 0;
}

#about > .features-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

#about .features-container > .features {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    max-width: 380px;
    margin: 0 0 25px 0;
    padding: 40px 30px 45px 30px;
    box-shadow: 2px 2px 2px 1px rgb(128 128 128 / 10%);
    font-weight: 300;
    overflow-x: hidden;
    overflow-y: visible;
}

#about .features-container .features h3 {
    font-size: 33px;
    color: #373f42;
    margin: 0 0 0.25em 0;
    font-weight: 300;
}

#about .features-container .features h4 {
    color: #96a9b5;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 30px;
}

#about .features-container .features .aboutImg {
    display: block;
    background-image: url("./assets/img/aboutImg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 150px;
}

#about .features-container .features p {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 20px;
}

#about .features-container .features .services {
    display: flex;
    flex-direction: column;
}

#about .features-container .features .services button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: solid 1px #e2e6e8;
}

#about .features-container .features span {
    font-size: 26px;
}

#about .features-container .features .collapse-text {
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    color: #000;
}

/* Contact */
#contact {
    background: #353D40 url("./assets/img/bg02.jpg");
    border-bottom: solid 1px #272e31;
    padding: 45px 0 45px 0;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
    color: #a0a8ab;
}

#contact .contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact h2 {
    width: 100%;
    margin-bottom: 30px;
}

#contact .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 60px 45px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 35px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 35px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 35px -10px rgba(0,0,0,0.75);
}

#contact .form h4 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #25D366;
    letter-spacing: 2px;
}

#contact .form textarea {
    width: 100%;
    min-height: 250px;
    padding: 12px;
    padding-left: 30px;
    font-size: 20px;
    border: none;
    background: #eeeeee;
    margin-bottom: 10px;
    outline: none;
}

.form button {
    width: 70%;
    color: #fff;
    font-size: 26px;
    background: #25D366;
    text-align: center;
    padding: 12px;
    border-radius: 25px;
    border: none;
    outline: none;
}

#footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 45px;
    color: #546b76;
    text-align: start;
    text-shadow: 1px 1px 0px rgb(255 255 255 / 50%);
}

#footer span {
    width: 100%;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

/* 1280 920 736 464 */
@media (max-width: 920px) {
    #header .socialIcon {
        width: 60px;
        height: auto;
        position: fixed;
        bottom: 20px;
        z-index: 999;
        transition: ease-in-out .5s;
    }

    #banner .container .row {
        flex-direction: column-reverse;
        gap: 60px;
        text-align: center;
    }

    #banner .row .right, #banner .row .left {
        width: 100%;
    }

    #banner .row .left p {
        padding-right: 0;
    }

    #gallery img {
        width: 160px;
        height: 150px;
    }

    #about > .features-container {
        gap: 0;
    }

    #footer div {
        margin-top: 20px;
    }
}

@media (max-width: 736px) {
    #banner .container .row {
        flex-direction: column;
    }
}